@use "variables" as *;

#banner-info {
	margin-bottom: 4rem;
}

.info {
	@extend .container;
	@extend .flex-row-evenly;
	margin-top: -80px;
	margin-bottom: 40px;
	text-align: center;

	.info__title {
		font-size: var(--fs-9xl);
		font-weight: $fw-bold;
	}

	.info__text {
		font-size: var(--fs-xl);
		font-weight: $fw-bold;
	}
}

.newsletter__box {
	@extend .flex-column-center;
	width: 100%;
	padding-right: 2em;
}

.newsletter__title {
	font-size: var(--fs-3xl);
	text-transform: uppercase;
}

.newsletter__text {
	@extend .container;
	font-size: var(--fs-lg);
	text-align: center;
}

form {
	.form__input-group {
		@extend .container;
		@extend .flex-row-center;
		margin-top: 2rem;
	}

	.form__input {
		width: 60vw;
		max-width: 500px;
		margin-left: auto;
		margin-right: 0;
		border-radius: 10px 0 0 10px;
		padding: 0.5em 1em;
		border: none;
		box-shadow: $form-inset;

		&:focus {
			outline: none;
		}
	}

	.form__btn {
		border-radius: 0 10px 10px 0;
		border: none;
		padding: 0.5em 1em;
		margin-left: -5px;
		box-shadow: $form-inset;
		transition: $transition;

		&:hover {
			background-color: #dadada;
		}
	}
}

// !---> MEDIA QUERIES <---! //
@media screen and (width < 1200px) {
	.newsletter__box {
		padding-right: 0;
		padding-top: 2rem;
	}
}

// !---> MOBILE PHONES <---! //
@media screen and (width < 576px) {
	.info {
		margin-top: -100px;
		margin-bottom: 0;
		text-align: center;
	}
}
