@use "variables" as *;

#gallery {
	@extend .container !optional;
	margin-bottom: 5rem;
}

.gallery__title {
	text-align: center;
	margin-bottom: 3rem;
	font-size: var(--fs-3xl);
	font-weight: bold;
}

.gallery__grid-container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(4, 1fr);

	grid-gap: 10px;
	width: 100%;
	height: fit-content;
	margin-inline: auto;
}

.gallery__grid-container img,
.gallery__grid-container video {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.tile__youtube-video,
.modal__youtube-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.tile01 {
	grid-column: 1/3;
	grid-row: 2/4;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}

.tile02 {
	grid-column: 3/6;
	grid-row: 1/3;
	aspect-ratio: 3/2;
}

.tile03 {
	grid-column: 3/4;
	grid-row: 3/4;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}

.tile04 {
	grid-column: 4/7;
	grid-row: 3/5;
	aspect-ratio: 3/2;
}

.tile05 {
	grid-column: 6/7;
	grid-row: 2/3;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}

.tile06 {
	grid-column: 7/8;
	grid-row: 2/4;
	aspect-ratio: 1/2;

	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}

// MEDIA QUERIES
@media screen and (width >=992px) and (width < 1200px) {
	.gallery__grid-container {
		grid-template-columns: repeat(6, 1fr);
	}
	.tile01 {
		grid-column: 1/3;
		grid-row: 2/4;
		aspect-ratio: 2/2;
	}

	.tile02 {
		//VIDEO
		grid-column: 3/6;
		grid-row: 1/3;
		aspect-ratio: 3/2;
	}

	.tile03 {
		grid-column: 2/3;
		grid-row: 1/2;
		aspect-ratio: 1/1;
	}

	.tile04 {
		//VIDEO
		grid-column: 3/6;
		grid-row: 3/5;
		aspect-ratio: 3/2;
	}

	.tile05 {
		grid-column: 6/7;
		grid-row: 3/4;
		aspect-ratio: 1/1;
	}

	.tile06 {
		grid-column: 6/7;
		grid-row: 1/3;
		aspect-ratio: 1/2;
	}
}

@media screen and (width >=768px) and (width < 992px) {
	.gallery__grid-container {
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}

	.tile01 {
		grid-column: 1/3;
		grid-row: 3/5;
	}

	.tile02 {
		//VIDEO
		grid-column: 2/5;
		grid-row: 1/3;
	}

	.tile03 {
		grid-column: 3/4;
		grid-row: 3/4;
	}

	.tile04 {
		//VIDEO
		grid-column: 2/5;
		grid-row: 5/7;
	}

	.tile05 {
		grid-column: 3/4;
		grid-row: 4/5;
	}

	.tile06 {
		grid-column: 4/6;
		grid-row: 3/5;
	}
}
