@use "variables" as *;
@use "mixins" as *;

header {
	@include flex(row, space-between, center);
	@extend .fixed-top;
	background-color: transparent;
	height: $header-height;
	padding-block: 4rem;
	z-index: 999;
}

// !---> NAVBAR LOGO <---! //
.header__logo-container {
	@include background($black, 0.15);
	width: $logo-width;
	padding: 1.25em 1.75em 1.75em 4em;
	border-radius: $rounded-right;
	backdrop-filter: $blur;
	box-shadow: $box-backlight;
	transition: $transition;

	&:hover {
		box-shadow: $box-backlight--hover;
	}
}

.header__logo {
	max-width: 100%;
	height: auto;
	fill: $white;
	height: auto;
}

// !---> NAVBAR MENU <---! //
.header__nav {
	@include background($black, 0.15);
	height: 60px;
	padding: 1.25em 4em 1.25em 1.75em;
	border-radius: $rounded-left;
	backdrop-filter: $blur;
	box-shadow: $box-backlight--invertedX;
	transition: 700ms ease-out;

	&:hover {
		box-shadow: $box-backlight--hover--invertedX;
	}
}

.nav__list {
	@include flex(row, flex-end, center);
	height: 100%;
	list-style: none;
	gap: 2em;
}

.nav__link {
	text-decoration: none;
	color: $white;
	font-weight: 500;

	font-size: var(--fs-lg);
	border-bottom: 2px solid transparent;
	transition: $transition;

	&:hover {
		color: $white;
		text-shadow: $button-text-backlight--hover;
	}
}
.nav__socials {
	display: none;
}

.nav__mobile-menu-btn {
	display: none;
}

// !---> MOBILE SCREENS <---! //
@media screen and (width < 576px) {
	.header__logo-container {
		max-width: 275px;
		padding: 1.25em 0.5em 0.5em 1.5em;
	}
}

// !---> TABLET OR SMALL DESKTOP SCREENS <---! //
@media screen and (width >=992px) and (width < 1200px) {
	.header__logo-container {
		padding: 1.25em 1.75em 1.75em 2.5em;
	}

	.header__nav {
		padding: 1rem 2.5rem 1.25rem 0;
	}

	.nav__list {
		gap: 1.25em;
	}
}
@media screen and (width >=1200px) and (width < 1400px) {
	.header__logo-container {
		width: 450px;
	}

	.header__nav {
		padding: 1.25em 3.75em 1.25em 1.5em;
	}

	.nav__list {
		gap: 1.5em;
	}
}

// !---> COMMON STYLES FOR ALL MOBILE SCREENS <---! //
@media screen and (width < 992px) {
	header {
		background-color: white;
		padding-block: 0;
	}

	.header__nav {
		@include background($black, 0.7);
		flex-direction: column;
		box-shadow: none;
		position: fixed;
		inset: 0;
		top: $header-height;
		width: 100vw;
		height: calc(100vh - $header-height);
		backdrop-filter: $blur;
		border-radius: 0;
		transform: translatex(100%);
		transition: 300ms ease-out;

		&.show {
			transform: translatex(0);
		}

		.nav__list {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
		}
		.nav__link {
			color: $white;
			font-size: var(--fs-2xl);
		}

		.nav__socials {
			display: block;

			.bar__socials-list {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1.5rem;
				transform: translateX(-15px);
			}

			.bar__socials-icon {
				font-size: var(--fs-3xl);
				color: white;
			}
		}
	}

	header.nav__list {
		display: flex;
		flex-direction: column;
	}

	.nav__mobile-nav {
		display: block;
	}
	.nav__mobile-menu-btn {
		display: block;
		position: absolute;
		top: 50%;
		color: $black;
	}

	.header__logo-container {
		width: 375px;
		padding: 1.25em 0.5em 0.5em 2.5em;
		background-color: transparent;
		border-radius: 0;
		backdrop-filter: none;
		box-shadow: none;

		transform: translateY(-8px);
	}

	.header__logo {
		fill: $black;
	}

	.nav__mobile-menu-btn {
		display: block;
		position: absolute;
		top: 50%;
		right: 5%;
		transform: translateY(-50%);
		background-color: transparent;
		border: none;
		color: $black;
		font-size: var(--fs-2xl);
	}
}

// !---> ONLY ON DESKTOP <---! // modified styles for scrolled header
@media screen and (width > 992px) {
	header.scrolled {
		background-color: $white;
		border-bottom: 1px solid lightgray;
		box-shadow: $extended-shadow;
	}

	header.scrolled .header__logo-container {
		background-color: transparent;
		backdrop-filter: $blur-none;
		box-shadow: none;
		transition: $transition;

		&:hover {
			box-shadow: none;
		}
	}

	header.scrolled .header__logo {
		fill: $black;
	}

	header.scrolled nav {
		background-color: transparent;
		backdrop-filter: $blur;
		box-shadow: none;
		transition: $transition;

		&:hover {
			box-shadow: none;
		}
	}

	header.scrolled .nav__link {
		color: $black;
		border-bottom: 2px solid transparent;
		transition: $transition;
		position: relative;

		&:hover {
			text-shadow: none;

			&::after {
				width: 100%;
			}
		}

		&::after {
			position: absolute;
			width: 0;
			right: 0;
			content: "";
			bottom: -2px;
			height: 2px;
			background-color: $black;
			transition: $transition;
		}
	}
}
