@use "variables" as *;

header {
	@extend .flex-row-between;
	@extend .fixed-top;
	background-color: transparent;

	height: $header-height;
	padding-block: 4em;
	z-index: 999;
}

.header__logo-container {
	width: $logo-width;
	padding: 1.25em 1.75em 1.75em 4em;
	border-radius: $rounded-right;
	background-color: $bg-black-015;
	backdrop-filter: $blur;
	box-shadow: $box-backlight;
	transition: $transition;

	&:hover {
		box-shadow: $box-backlight--hover;
	}
}

.header__logo {
	max-width: 100%;
	height: auto;
	fill: $white;
	height: auto;
}

.header__nav {
	height: 60px;
	padding: 1.25em 4em 1.25em 1.75em;
	border-radius: $rounded-left;
	background-color: $bg-black-015;
	backdrop-filter: $blur;
	box-shadow: $box-backlight--invertedX;
	transition: $transition;

	&:hover {
		box-shadow: $box-backlight--hover--invertedX;
	}

	.nav__list {
		@extend .flex-row-end;
		text-transform: uppercase;
	}
}

.nav__mobile-menu-btn {
	display: none;
}

.nav__list {
	@extend .flex-row-end;
	height: 100%;
	list-style: none;
	gap: 2em;
}

.nav__link {
	text-decoration: none;
	color: $white;
	font-weight: 500;

	font-size: $fs-lg;
	border-bottom: 2px solid transparent;
	transition: $transition;

	&:hover {
		color: $white;
		text-shadow: $button-text-backlight--hover;
	}
}

header.scrolled {
	background-color: $white;
	border-bottom: 1px solid lightgray;
	box-shadow: $extended-shadow;
}

header.scrolled .header__logo-container {
	background-color: transparent;
	backdrop-filter: $blur-none;
	box-shadow: 0;
	transition: $transition;

	&:hover {
		box-shadow: 0;
	}
}

header.scrolled .header__logo {
	fill: $black;
}

header.scrolled nav {
	background-color: transparent;
	backdrop-filter: $blur;
	box-shadow: 0;
	transition: $transition;

	&:hover {
		box-shadow: 0;
	}
}

header.scrolled .nav__link {
	color: $black;
	border-bottom: 2px solid transparent;
	transition: $transition;
	position: relative;

	&:hover {
		text-shadow: 0;

		&::after {
			width: 100%;
		}
	}

	&::after {
		@extend .absolute-right-0;
		content: "";
		bottom: -2px;
		height: 2px;
		background-color: $black;
		transition: $transition;
	}
}

// !--> MEDIA QUERIES <--! //
@media screen and (width >=768px) and (width < 992px) {
	.nav__mobile-menu-btn {
		display: block;
		background-color: transparent;
		border: none;
		color: $white;
		font-size: $fs-xl;
	}

	.nav__list {
		display: none;
	}
}

// ALL MOBILE SCREENS
@media screen and (width < 992px) {
	header {
		background-color: white;
		padding-block: 0;
	}

	header nav {
		display: block;
		position: fixed;
		top: $header-height;
		width: 90vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.8);
		backdrop-filter: $blur;
		border-radius: 0;
		z-index: 100;

		.nav__link {
			color: $black;
			font-size: $fs-lg;
		}
	}

	header.nav__list {
		display: flex;
		flex-direction: column;
	}

	.nav__mobile-nav {
		display: block;
	}
	.nav__mobile-menu-btn {
		display: block;
		position: absolute;
		top: 50%;
		color: $black;
	}

	.header__logo-container {
		width: 375px;
		padding: 1.25em 0.5em 0.5em 2.5em;
		background-color: transparent;
		border-radius: 0;
		backdrop-filter: none;
		box-shadow: none;

		transform: translateY(-8px);
	}

	.header__logo {
		fill: $black;
	}
}

@media screen and (width >=992px) and (width < 1200px) {
	header {
	}

	.header__logo-container {
		padding: 1.25em 1.75em 1.75em 2.5em;
	}

	.header__nav {
		padding: 1rem 2.5rem 1.25rem 0;
	}

	.nav__list {
		gap: 1.25em;
	}
}
@media screen and (width >=1200px) and (width < 1400px) {
	.header__logo-container {
		width: 450px;
	}

	.header__nav {
		padding: 1.25em 3.75em 1.25em 1.5em;
	}

	.nav__list {
		gap: 1.5em;
	}
}
