@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin background($color: black, $opacity: 1) {
	background-color: rgba($color, $opacity);
}
