@use "variables" as *;
@use "mixins" as *;

#stats {
	margin-bottom: 5rem;
}

.statistics__title {
	margin-bottom: 3rem;
	font-size: var(--fs-3xl);
	font-weight: $fw-bold;
	text-align: center;
}

.stats {
	@include flex(row, space-between, flex-start);
	flex-wrap: wrap;
	margin-bottom: 5rem;
}

.stats__chart {
	@include flex(row, flex-start, flex-start);
	width: 40%;
}

.stats__pie-chart {
	position: relative;
	width: 300px;
	background-image: conic-gradient(
		$black 48%,
		rgb(223, 32, 32) 48%,
		rgb(223, 32, 32) 80%,
		blue 80%,
		blue 89%,
		rgb(223, 200, 0) 89%,
		rgb(223, 200, 0) 93%,
		green 93%,
		green 95%,
		gray 95%
	);
	box-shadow: $basic-box-shadow;
	border-radius: 50%;
	aspect-ratio: 1/1;
}

.stats__chart-img {
	position: absolute;
	right: 5%;
	top: 47%;
	width: 35%;
}

.stats__info {
	@include flex(column, flex-start, flex-start);
	width: 400px;
}

.stats__info-text {
	@include flex(row, space-between, center);
	font-size: var(--fs-2lg);
	width: 120px;
}

%stats__info-text {
	font-weight: $fw-bold;
}

.stats__info-text--black {
	@extend %stats__info-text;
	color: $black;
}

.stats__info-text--red {
	@extend %stats__info-text;
	color: rgb(223, 32, 32);
}

.stats__info-text--blue {
	@extend %stats__info-text;
	color: blue;
}

.stats__info-text--yellow {
	@extend %stats__info-text;
	color: rgb(223, 200, 0);
}

.stats__info-text--green {
	@extend %stats__info-text;
	color: green;
}

.stats__info-text--gray {
	@extend %stats__info-text;
	color: gray;
}

.stats__text {
	flex: 1;
}

.stats__text-title {
	margin-bottom: 1rem;
	font-size: var(--fs-3xl);
	font-weight: $fw-bold;
	text-align: center;
	margin-bottom: 3rem;

	.stats__subtitle {
		display: block;
		font-size: var(--fs-xl);
	}
}

.stats__list-item {
	list-style-type: disc;
}

@media screen and (width < 992px) {
	.stats {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 3rem;
	}

	.stats__chart {
		margin-inline: auto;
		justify-content: center;
		width: 100%;
		margin-bottom: 4rem;
	}

	.stats__pie-chart {
		width: 200px;
	}

	.stats__info {
		width: fit-content;
		height: fit-content;
		list-style: none;
	}
}
