@use "variables" as *;
@use "mixins" as *;

#technology {
	width: 90%;
	margin-inline: auto;
	margin-bottom: 5rem;
}

.technology__intro {
	position: relative;
	margin-bottom: 1.5em;
	background-color: $black;
	padding-block: 3rem 4rem;
	border-radius: $base-border-radius;
	height: fit-content;
}

.intro__video {
	width: 100%;
	height: auto;
	max-width: 100%;
	border-radius: $base-border-radius;
	overflow: hidden;
}

.intro__box {
	@include flex(column, space-evenly, auto);
	@extend .absolute-left;
	width: 45%;
	color: $white;
	padding: 3em;
	margin-left: 5%;
}

.intro__title {
	font-size: var(--fs-3xl);
	font-weight: bold;
}

.intro__subtitle {
	font-size: var(--fs-xl);
	margin-top: 0;
	margin-bottom: 20px;
}

.intro__text {
	font-size: var(--fs-2lg);
}

.intro__stats {
	@include flex(row, space-between, center);
	margin-block: 2.5rem;
	padding-block: 0.5em;
	border-bottom: 2px solid grey;
	font-size: var(--fs-sm);
}

.intro__stats-title {
	font-weight: 700;
}

.technology__box {
	display: flex;
	flex-flow: row wrap;
	gap: 1.5em;
}

.card {
	@include flex(column, flex-start, flex-start);
	@include background(gray, 1);
	flex: 1;
	text-align: center;
	min-height: 500px;
	overflow: hidden;
	backdrop-filter: $blur;
	cursor: pointer;
	border-color: lightgray;
	box-shadow: $basic-box-shadow;
}

.card__image {
	max-width: 100%;
	height: auto;
	transition: 400ms;
	object-fit: cover;
}

.card__image-container {
	overflow: hidden;
}

.card:hover .card__image {
	transform: scale(1.1);
}

.card__content {
	@include flex(column, center, center);
	padding: 1em;
	height: 80%;
}

.card__title {
	margin-top: 1rem;
	font-size: var(--fs-2xl);
	font-weight: bold;
	letter-spacing: 1px;
}

.card__text {
	font-size: var(--fs-lg);
	text-align: start;
}

.modal-dialog {
	border-radius: $base-border-radius;
	overflow: hidden;
	position: relative;
}

.modal__image-container {
	width: 100%;
}

.modal__image {
	max-width: 100%;
	height: auto;
}

.modal__box {
	@include flex(column, space-evenly, auto);
	@extend .absolute-left;
	width: 50%;
	color: $white;
	padding: 2em;
	margin-left: 3rem;
}

.modal__title {
	font-size: var(--fs-2xl);
	font-weight: bold;
}

.modal__subtitle {
	font-size: var(--fs-xl);
}

.modal__text {
	font-size: var(--fs-lg);
}

.modal__stats {
	@include flex(row, space-between, center);
	padding-block: 0.5em;
	border-bottom: 2px solid grey;
	font-size: var(--fs-sm);
}

.modal__btn-close {
	position: absolute;
	top: 0;
	right: 1rem;
	border: none;
	background-color: transparent;
	color: lightgray;
	cursor: pointer;
	font-size: 3rem;
	font-weight: 300;
	transition: 300ms;

	&:hover {
		color: $white;
	}
}

/* Prevent the page from shifting to the left when the modal opens */
.modal-open[style] {
	padding-right: 0px !important;
}

@media screen and (width < 768px) {
	.technology__intro {
		display: none;
	}
}

// !---> ALL MOBILE SCREENS <---! //
@media screen and (width <992px) {
	.technology__box {
		flex-direction: column;
	}

	.card__text {
		text-align: center;
		font-size: var(--fs-lg);
	}

	.modal__box {
		width: 50%;
	}

	.modal__stats,
	.intro__stats {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block: 0.5em;
		border-bottom: 2px solid grey;
	}
}
