:root {
	// Font-sizes
	--fs-xs: 0.5rem;
	--fs-sm: 0.75rem;
	--fs-md: 0.9rem;
	--fs-lg: 1rem;
	--fs-2lg: 1.25rem;
	--fs-xl: 1.5rem;
	--fs-2xl: 2rem;
	--fs-3xl: 3rem;
	--fs-4xl: 4rem;
	--fs-5xl: 5rem;
	--fs-6xl: 6rem;
	--fs-7xl: 7rem;
	--fs-8xl: 8rem;
	--fs-9xl: 9rem;
}

// Font-weights
$fw-thin: 100;
$fw-extraLight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-semiBold: 500;
$fw-bold: 600;
$fw-extraBold: 700;
$fw-black: 800;
$fw-extraBlack: 900;

//colors
$white: #ffffff;
$black: #000000;
$light-gray: #dadada;
$bg-gray: hsla(0, 0%, 100%, 0.2);

// Background-colors
$bg-black-015: rgba(0, 0, 0, 0.15);
$bg-black-03: rgba(0, 0, 0, 0.3);
$bg-black-07: rgba(0, 0, 0, 0.7);

// Background images
$bg-img-body: url("../../assets/images/background.svg");
$bg-img-starbase: url("../../assets/images/starbase.jpg");

//Box-Shadows
$basic-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);

$extended-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
$extended-shadow--invertedY: 0 -5px 20px rgba(0, 0, 0, 0.5);

$basic-backlight: 0 0 20px rgba(255, 255, 255, 0.35);
$box-backlight: 5px 0 10px rgba(255, 255, 255, 0.5);
$box-backlight--invertedX: -5px 0 10px rgba(255, 255, 255, 0.5);
$box-backlight--hover: 2px 0 10px rgba(255, 255, 255, 0.5), 2px 0 20px rgba(255, 255, 255, 0.5), 2px 0 30px rgba(255, 255, 255, 0.5),
	inset 2px 0 10px rgba(255, 255, 255, 0.5);

$box-backlight--hover--invertedX: -2px 0 10px rgba(255, 255, 255, 0.5), -2px 0 20px rgba(255, 255, 255, 0.5), -2px 0 30px rgba(255, 255, 255, 0.5),
	inset -2px 0 10px rgba(255, 255, 255, 0.5);

$button-backlight--hover: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5),
	inset 0 0 10px rgba(255, 255, 255, 0.5);

$form-inset: inset 0 0 4px rgba(0, 0, 0, 0.5);

//Text-Shadows
$button-text-backlight--hover: 0 0 10px rgba(255, 255, 255, 0.75), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5),
	0 0 40px rgba(255, 255, 255, 0.5);

$basic-text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);

// Transition
$transition: 250ms;

// Blur
$blur-none: none;
$blur: blur(15px);
$blur--50: blur(50px);

// Boder-radius
$base-border-radius: 15px;
$border-radius-5: 5px;

$rounded-right: 0 50px 50px 0;
$rounded-left: 50px 0 0 50px;

// header-height
$header-height: 100px;

// footer-height
$footer-height: 100px;

// logo-width
$logo-width: 500px;

// !--> Utilities <--! //
.container {
	display: block;
	max-width: 85%;
	margin-inline: auto;
}

.overflow-hidden {
	overflow: hidden;
}

%flex {
	display: flex;
}

.flex-row {
	@extend %flex;
	flex-direction: row;
}

.flex-column {
	@extend %flex;
	flex-direction: column;
}

.flex-row-start {
	@extend .flex-row;
	justify-content: flex-start;
	align-items: center;
}

.flex-row-center {
	@extend .flex-row;
	justify-content: center;
	align-items: center;
}

.flex-row-evenly {
	@extend .flex-row;
	justify-content: space-evenly;
	align-items: center;
}

.flex-row-between {
	@extend .flex-row;
	justify-content: space-between;
	align-items: center;
}

.flex-row-end {
	@extend .flex-row;
	justify-content: flex-end;
	align-items: center;
}

.flex-column-start {
	@extend .flex-column;
	justify-content: center;
	align-items: flex-start;
}

.flex-column-center {
	@extend .flex-column;
	justify-content: center;
	align-items: center;
}

.flex-column-evenly {
	@extend .flex-column;
	justify-content: space-evenly;
}

.flex-column-between {
	@extend .flex-column;
	justify-content: space-between;
}

.flex-column-end {
	@extend .flex-column;
	justify-content: center;
	align-items: flex-end;
}

// Positions
%fixed {
	position: fixed;
}

%absolute {
	position: absolute;
}

.fixed-top {
	@extend %fixed;
	width: 100vw;
	top: 0;
	left: 0;
	right: 0;
}

.absolute-left {
	@extend %absolute;
	left: 0;
	top: 0;
	bottom: 0;
}

.absolute-right-0 {
	@extend %absolute;
	right: 0;
	width: 0;
}

// !--> MEDIA QUERIES <--! //
@media screen and (width >=992px) and (width < 1200px) {
	$logo-width: 375px;

	:root {
		--fs-3xl: 2.5rem;
	}
}

@media screen and (width < 992px) {
	$header-height: 70px;

	:root {
		--fs-xl: 1.25rem;
		--fs-2xl: 1.5rem;
		--fs-3xl: 1.75rem;
		--fs-9xl: 5rem;
	}
}

// !--> SMALL MOBILE PHONES <--! //
@media screen and (width < 576px) {
	$logo-width: 300px;

	:root {
		--fs-lg: 0.75rem;
		--fs-xl: 0.9rem;
		--fs-2xl: 1.5rem;
		--fs-3xl: 1rem;
		--fs-9xl: 2rem;
	}
}
