@use "variables" as *;
@use "media_queries" as *;
@use "header" as *;
@use "hero" as *;
@use "banner" as *;
@use "technology" as *;
@use "gallery" as *;
@use "technology" as *;
@use "stats" as *;
@use "starbase" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden !important;
	background-color: $black;
	width: 100vw;
	scroll-behavior: smooth;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background-image: $bg-img-body;
}

.font-spacex {
	font-family: "SpaceX";
	font-weight: 400;
}

.logo-inline {
	display: inline-block;
	width: 300px;
	margin-top: -16px;
}

section {
	min-height: 500px;
	padding-bottom: 8rem;
}

.btn {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.1rem;
	border: none;
	border-radius: 10px;
	padding: 0.75em 1.5em;
	background-color: $white;
}

/* !---> HEADER <---! */

.contact__map-container {
	width: 100%;
	height: 900px;
	position: relative;
}

.contact__map {
	pointer-events: none;
}

.contact__box {
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(5px);
	box-shadow: $basic-box-shadow;
	border-radius: 15px;
	z-index: 100;
	position: absolute;
	top: 12%;
	right: 5%;
	width: 35%;
	height: 76%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	padding-bottom: 0;
	margin-bottom: 0;
	color: $white;

	& .contact__title {
		font-size: 2rem;
		font-weight: 700;
	}
}

#contact {
	padding-bottom: 0;
}

#contact .contact__form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;

	& .form__input-group {
		width: 100%;
		max-width: 100%;
	}

	& .form__input {
		width: 100%;
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

	& input,
	& textarea {
		width: 100%;
		border-radius: 5px;
		padding: 0.5rem 1rem;
		border: none;
		box-shadow: $form-inset;
		resize: none;

		&:focus {
			outline: none;
		}
	}

	& .form__label {
		display: block;
	}

	& .form__btn {
		width: fit-content;
		border-radius: 5px;
		margin-left: 1rem;
		margin-top: 0.5rem;
	}
}

footer {
	background-color: $white;
	box-shadow: $extended-shadow--invertedY;
}

.footer_main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 2rem;
	gap: 1.5rem;

	.footer__logo-container {
		width: 400px;
	}

	.footer__logo {
		max-width: 100%;
		height: auto;
	}

	.footer__nav {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		transform: translateX(-3rem);

		.nav__list-item {
			list-style: none;
		}

		.nav__link {
			position: relative;
			color: $black;
			text-decoration: none;
			font-size: 1.2rem;

			transition: 300ms;

			&:hover {
				&::after {
					width: 100%;
				}
			}

			&::after {
				position: absolute;
				content: "";
				bottom: 0;
				right: 0;
				width: 0;
				height: 1px;
				background-color: $black;
				transition: $transition;
			}
		}
	}
}

.footer__bar {
	background-color: lightgray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 4rem;

	& .bar__socials-list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		transform: translate(-3rem, 0.6rem);

		.bar__socials-icon {
			font-size: 1.5rem;
			color: $black;
			transition: 300ms;

			&:hover {
				opacity: 0.5;
			}
		}
	}

	& .nav__link {
		color: $black;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

@media screen and (width < 1300px) {
}

@media screen and (width < 1024px) {
}

@media screen and (width < 1024px) {
}

@media screen and (width < 768px) {
	header {
		& nav {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: rgba(0, 0, 0, 0.8);
			backdrop-filter: blur(15px);
			border-radius: 0;
			z-index: 100;
			transform: translateX(100%);
		}

		&.nav__list {
			display: flex;
			flex-direction: column;
		}
	}

	.nav__mobile-menu-btn {
		display: block;
	}
}
