@use "variables" as *;
@use "header" as *;
@use "hero" as *;
@use "banner" as *;
@use "technology" as *;
@use "gallery" as *;
@use "technology" as *;
@use "stats" as *;
@use "starbase" as *;
@use "contact" as *;
@use "footer" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden !important;
	background-color: $black;
	width: 100vw;
	scroll-behavior: smooth;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background-image: $bg-img-body;
}

.font-spacex {
	font-family: "SpaceX";
	font-weight: 400;
}

.logo-inline {
	display: inline-block;
	width: 300px;
	margin-top: -16px;
}

section {
	min-height: 500px;
	padding-bottom: 8rem;
}

.btn {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.1rem;
	border: none;
	border-radius: 10px;
	padding: 0.75em 1.5em;
	background-color: $white;
}
